body {
  height: 100%;
  border: 1px solid green;
}

html {
  height: 100%;
  border: 1px solid lightblue;
}

aside {
  width: 20%;
  height: 100%;
  float: left;
  border: 1px solid red;
  padding: 10px;
  box-sizing: border-box;
}

main {
  width: 80%;
  height: 100%;
  float: left;
  border: 1px solid orange;
  padding: 10px;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
