body {
  height: 100%;
  border: 1px dashed green;
  font-family: serif;
}

html {
  height: 100%;
  border: 1px dashed lightblue;
}

aside {
  width: 20%;
  min-width: 120px;
  height: 100%;
  float: left;
  border: 1px dashed red;
  padding: 10px;
  box-sizing: border-box;
}

main {
  width: 80%;
  height: 100%;
  float: left;
  border: 1px dashed orange;
  padding: 10px;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

p.technologies {
  font-family: monospace;
}

span.tags {
  font-style: italic;
}
