<section id="freelance-projects">
  <h2>Freelance Projects</h2>
  <h3>Screenslate</h3>
  <p><a href="http://www.screenslate.com" class="project__link" target="_blank">Screenslate</a> is a site devoted to finding the best movie screenings in New York City. For the site redesign funded by a Kickstarter campaign, I developed the backend CMS and API. I also managed the deployed application on Heroku and used add-ons such as New Relic, Papertrail, and Scout to tune performance and detect issues.</p>
  <p class="technologies">Technologies: <span class='tags'>Ruby, Rails, Rspec, Refinery CMS, Javascript, CSS, ERB, AWS S3, Codeship CI, Heroku, Github</span></p>

  <h3>CrossFit Waldwick</h3>
  <p><a href="http://www.cfwaldwick.com" class="project__link" target="_blank">CrossFit Waldwick</a> is a CrossFit box opened in Waldwick, NJ in May 2016. Leading up to the grand opening, I created a static website in HTML and CSS before launching a fully functional Wordpress site. I also incorporated custom CSS into the Wordpress site, as well as made adjustments to the php code to hide unnecessary elements that couldn't be controlled through the theme's customization.</p>
  <p class="technologies">Technologies: <span class='tags'>Wordpress, HTML, CSS, PHP</span></p>

  <h3>ePancreas iOS App</h3>
  <p>ePancreas is an app for the iPhone in the pre-release phase. I collaborated with the founder to help design the prototype of the application and communicate the design to the dev shop that built the prototype.</p>
  <p class="technologies">Technologies: <span class="tags">Sketch</span></p>
</section>
