<section id="freelance-projects">
  <h2>Freelance Projects</h2>
  <h3>Screenslate</h3>
  <p><a href="http://www.screenslate.com" class="project__link" target="_blank">Screenslate</a> is a site devoted to finding the best movie screenings in New York City. For the site redesign funded by a Kickstarter campaign, I developed the backend CMS and API. I also managed the deployed application on Heroku and used add-ons such as New Relic, Papertrail, and Scout to tune performance and detect issues.</p>
  <p class="technologies">Technologies: <span class='tags'>Ruby, Rails, Rspec, Refinery CMS, Javascript, CSS, ERB, AWS S3, Codeship CI, Heroku, Github</span></p>

  <h3>TDEE Calculator</h3>
  <p><a href="https://tdee-calculator-next.vercel.app/" class="project__link" target="_blank">Javascript calculator</a> for Total Daily Energy Expenditure, built for <a href="https://peoplesathleticclub.com/" target=_blank>People's Athletic Club</a>.</p>
  <p class="technologies">Technologies: <span class="tags">Next.js, Vercel</span></p>
</section>
