<section id="open-source-projects">
  <h2>Open Source Projects</h2>
  <h3>NYC Tech Conferences</h3>
  <p><a href="http://nyctechconferences.org/" class="project__link" target="_blank">NYC Tech Conferences</a> is a listing of tech conferences occurring in New York City.</p>
  <p class="technologies">Technologies: <span class="tags">HTML, CSS, Jekyll, YAML, Github</span></p>

  <h3>time_value</h3>
  <p><a href="https://rubygems.org/gems/time_value" class="project__link" target="_blank">time_value</a> is a Ruby gem to perform time value of money calculations. It has methods for present value (PV), future value (FV), interest (I), number of periods (n), and payment (pmt).</p>
  <p class="technologies">Technologies: <span class="tags">Ruby, Rspec, Financial Computation, Circle CI, Github</span></p>

  <h3>roth_ira</h3>
  <p><a href="https://rubygems.org/gems/roth_ira/" class="project__link" target="_blank">roth_ira</a> is a Ruby gem to calculate Roth IRA contribution limits, which vary based on income, age, and tax filing status.</p>
  <p class="technologies">Technologies: <span class="tags">Ruby, RSpec, Circle CI, GitHub</span></p>

  <h3>git_switch</h3>
  <p><a href="https://rubygems.org/gems/git_switch" class="project__link" target="_blank">git_switch</a> is a Ruby gem command line utility to switch between multiple GitHub profiles (e.g. a work and personal account).</p>
  <p class="technologies">Technologies: <span class="tags">Ruby, RSpec, Circle CI, GitHub, Git, bash, ssh-add</span></p>
</section>
