<section id="personal-projects">
  <h2>Personal Projects</h2>
  <h3>randallreedjr.com</h3>
  <p>This site! As an exercise in minimalism, I created the site from scratch in a text editor. As new features were added, the site grew in complexity, and now uses Gulp to pre-compile the Sass to CSS and Rake to deploy using the aws cli tool. It is hosted on AWS in an S3 bucket.</p>
  <p class="technologies">Technologies: <span class="tags">HTML, Handlebars, CSS, Sass, Gulp, Rake, AWS S3, AWS Cloudfront, Github</span></p>

  <h3>Get to 24</h3>
  <p><a href="http://www.getto24.com" class="project__link" target="_blank">Get to 24</a> is a Sinatra application allowing the user to play the 24 Game, a math card game.</p>
  <p class="technologies">Technologies: <span class="tags">Ruby, Sinatra, Bootstrap, CSS, ERB, Heroku, Github</span></p>

  <h3>Project Euler problems</h3>
  <p>In my free time, I solve problems on <a href="http://www.projecteuler.net" class="project__link" target="_blank">Project Euler</a>, a site hosting mathematical and algorithmic challenges.</p>
  <p><img src="https://projecteuler.net/profile/randallreedjr.png"></p>
</section>
