$teal: #33cccc;
$white-smoke: #f5f5f5;
$headshot-width: 100px;
$heading-font: jubilat;
$body-font: 'proxima-nova';

$divider: 2px solid #bbb;

$nav-list-font-size: 20px;
$nav-list-nested-font-size: 16px;
$nav-list-spacing: 15px;

$sidebar-width: 250px;
$main-min-width: 350px;
$sidebar-content-width: 142px;

$footer-height: 40px;

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

html, body {
  height: 100%;
  position: static;
}

body {
  font-family: $body-font, sans-serif;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-left: $sidebar-width;
  min-width: $main-min-width;
}

aside {
  background-color: white;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 10px 10px;
  position: fixed;
  top: 0;
  width: $sidebar-content-width;

  .title {
    text-align: center;
    border-bottom: $divider;
  }

  nav {
    ul {
      &.nav__list {
        font-size: $nav-list-font-size;
      }

      &.nav__list--nested {
        font-size: $nav-list-nested-font-size;
        padding-top: $nav-list-spacing;
      }
    }

    li {
      &.nav__listitem {
        padding-bottom: $nav-list-spacing;
      }

      &.nav__listitem--nested {

      }
    }

    a {
      color: $teal;
      font-family: $heading-font, serif;

      &:visited {
        color: $teal;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.contact-links-container {
  display: flex;
}

.contact-links {
  flex-grow: 1;
}

.contact-link, .nav__link, .project__link {
  text-decoration: none;
}

.contact-link {
  color: black;

  &:visited {
    color: black;
  }

  &:hover {
    color: $teal;
  }
}

.project__link {
  color: $teal;

  &:hover {
    text-decoration: underline;
  }
}

main {
  @include calc(height, '100% - #{$footer-height}');
  @include calc(width, '100% - #{$sidebar-width}');

  box-sizing: border-box;
  margin-left: $sidebar-width;
  min-width: $main-min-width;
  padding: 10px 10px $footer-height 10px;
}

section:not(:last-child) {
  border-bottom: $divider;
}

.quotation {
  background-color: $teal;
  color: $white-smoke;
  padding: 5px;
  text-align: center;
  font-size: 28px;
}

h1 {
  text-align: center;
  border-bottom: $divider;
  padding-bottom: 10px;
}

h1, h2, h3, p.heading {
  font-family: $heading-font, serif;
  font-weight: 500;
  &.name {
    font-weight: 400;
  }
}

p.heading {
  font-size: 2em;
}

ul {
  padding: 0;

  li {
    list-style-type: none;
  }
}

.profile-img {
  height: $headshot-width;
  width: $headshot-width;
  border-radius: $headshot-width / 2;
}

p.technologies {
  font-family: monospace;

  span.tags {
    // font-weight: 600;
  }
}

#contact {
  padding-bottom: 50px;
}

.strike-through {
  text-decoration: line-through;
}

i.fa {
  color: $teal;
  font-size: 24px;
  margin-right: 15px;
}
