<section id="contact">
  <h2>Contact</h2>
  <p>Get in touch with me through any of these channels:</p>
  <div class="contact-links-container">
    <div class="contact-links">
      <p>
        <a href="https://www.twitter.com/randallocalypse" target="_blank" class="contact-link">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          @randallocalypse
        </a>
      </p>
      <p>
        <a href="https://www.instagram.com/randallocalypse/" target="_blank" class="contact-link">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          @randallocalypse
        </a>
      </p>
    </div>
    <div class="contact-links">
    <p>
      <a href="https://www.github.com/randallreedjr" target="_blank" class="contact-link">
        <i class="fa fa-github" aria-hidden="true"></i>
        /randallreedjr
      </a>
    </p>
    <p>
      <a href="http://stackoverflow.com/users/1951290/randallreedjr" target="_blank" class="contact-link">
        <i class="fa fa-stack-overflow" aria-hidden="true"></i>
        /randallreedjr
      </a>
    </p>
    <p>
      <a href="https://medium.com/@randallreedjr" target="_blank" class="contact-link">
        <i class="fa fa-medium" aria-hidden="true"></i>
        /randallreedjr
      </a>
    </p>
    <p>
      <a href="http://www.linkedin.com/in/randallreedjr" target="_blank" class="contact-link">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        /in/randallreedjr
      </a>
    </p>
  </div>
  </div>
</section>
