<div class="title">
  <img class="profile-img" src="images/interview.jpg" alt="headshot">
  <h1 class="name">Randall Reed, Jr.</h1>
</div>
<hr>
<nav class="sections">
  <ul>
    <li><a href='#about' class="nav-link">About</a></li>
    <li><a href='#projects' class="nav-link">Projects</a></li>
    <li><a href='#contact' class="nav-link">Contact</a></li>
    <li><a href='https://medium.com/@randallreedjr' target='_blank' class="nav-link">Blog</a></li>
  </ul>
</nav>
