<div class="title">
  <img src="images/interview.jpg" alt="headshot">
  <h1 class="name">Randall Reed, Jr.</h1>
</div>
<hr>
<nav class="sections">
  <ul>
    <li><a href='#about'>About</a></li>
    <li><a href='#projects'>Projects</a></li>
    <li><a href='#contact'>Contact</a></li>
    <li><a href='https://medium.com/@randallreedjr' target='_blank'>Blog</a></li>
  </ul>
</nav>
