<div class="title">
  <img class="profile-img" src="images/interview.jpg" alt="headshot">
  <h2 class="name">Randall Reed, Jr.</h2>
</div>
<nav class="sections">
  <ul class="nav__list">
    <li class="nav__listitem"><a href='#about' class="nav__link">About</a></li>
    <li class="nav__listitem"><a href='#freelance-projects' class="nav__link">Projects</a>
      <ul class="nav__list--nested">
        <li class="nav__listitem--nested"><a href='#freelance-projects' class="nav__link">Freelance</a></li>
        <li class="nav__listitem--nested"><a href='#open-source-projects' class="nav__link">Open Source</a></li>
        <li class="nav__listitem--nested"><a href='#personal-projects' class="nav__link">Personal</a></li>
      </ul>
    </li>
    <li class="nav__listitem"><a href='#contact' class="nav__link">Contact</a></li>
    <li class="nav__listitem"><a href='https://medium.com/@randallreedjr' target='_blank' class="nav__link">Blog</a></li>
  </ul>
</nav>
