<!DOCTYPE html>
  {{> header}}
  <body>
    <aside id="side-dev">{{> side-nav}}</aside>

    <main>
      <div class="quotation">
        <p class="quote"><span class="strike-through">Art</span> Code is never finished, only abandoned.</p>
        <p class="attribution">~ Leonardo da Vinci and Randall Reed, Jr. ~</p>
      </div>

      <div id="about">
        <h1>About</h1>
        <p>Randall Reed, Jr. is a web developer currently living and working in New York City. He is a Senior Developer Consultant at <a href="http://www.defmethod.com" target="_blank">Def Method</a> and also works as a freelance developer.</p>
        <h2>Technologies</h2>
        <p class="technologies">HTML, CSS, Ruby, Rails, Rspec, Rake, Javascript, React, Gulp, JSON, Elasticsearch, AWS S3, AWS Cloudfront, Git, Github, Heroku, Circle CI, Codeship CI, Wordpress, PHP</p>
        <h2>Languages</h2>
        <p>English (native fluency)</p>
        <p>French (intermediate proficiency)</p>
        <p>Spanish (elementary proficiency)</p>
      </div>

      <hr>

      <div id="projects">
        <h1>Projects</h1>
        <h2>randallreedjr.com</h2>
        <p>This site! Created from scratch in a text editor. Hosted on AWS in an S3 bucket. Uses Gulp to pre-compile the Sass to CSS and Rake to deploy using the aws cli tool.</p>
        <p class="technologies">Technologies: <span class="tags">HTML, Handlebars, CSS, Sass, Gulp, Rake, AWS S3, AWS Cloudfront, Github</span></p>

        <h2>Screenslate</h2>
        <p><a href="http://www.screenslate.com" target="_blank">Screenslate</a> is a site devoted to finding the best movie screenings in New York City. Funded by a Kickstarter campaign, I developed the backend CMS and API. I also managed the deployed application on Heroku and used add-ons such as New Relic, Papertrail, and Scout to tune performance and detect issues.</p>
        <p class="technologies">Technologies: <span class='tags'>Ruby, Rails, Rspec, Refinery CMS, Javascript, CSS, ERB, AWS S3, Codeship CI, Heroku, Github</span></p>

        <h2>CrossFit Waldwick</h2>
        <p><a href="http://www.cfwaldwick.com" target="_blank">CrossFit Waldwick</a> is a CrossFit box opened in Waldwick, NJ in May 2016. Leading up to the grand opening, I created a static website in HTML and CSS before launching a fully functional Wordpress site. I also incorporated custom CSS into the Wordpress site, as well as made adjustments to the php code to hide unnecessary elements that couldn't be controlled through the theme's customization.</p>
        <p class="technologies">Technologies: <span class='tags'>Wordpress, HTML, CSS, PHP</span></p>

        <h2>ePancreas iOS App</h2>
        <p>ePancreas is an app for the iPhone in the early development phases. I collaborated with the founder to help design the prototype of the application and communicate the design to the dev shop that built the prototype.</p>
        <p class="technologies">Technologies: <span class="tags">Sketch</span></p>

        <h2>git-undo</h2>
        <p>git-undo is a command line utility, packaged as a ruby gem, to simplify reversing a git command. I presented a talk about this gem at the NYC.rb meetup.</p>
        <p class="technologies">Technologies: <span class="tags">Git, Ruby, Rubygems, Bash, Github</span></p>

        <h2>time-value</h2>
        <p><a href="https://rubygems.org/gems/time_value" target="_blank">time-value</a> is a Ruby gem to perform time value of money calculations. It has methods for present value (PV), future value (FV), interest (I), number of periods (n), and payment (pmt).</p>
        <p class="technologies">Technologies: <span class="tags">Ruby, Rspec, Financial Computation, Circle CI, Github</span></p>

        <h2>roth-ira</h2>
        <p><a href="https://rubygems.org/gems/roth-ira/" target="_blank">roth-ira</a> is a Ruby gem to calculate Roth IRA contribution limits, which vary based on income, age, and tax filing status.</p>
        <p class="technologies">Technologies: <span class="tags">Ruby, RSpec, Circle CI, Github</span></p>

        <h2>This Weekend or Next</h2>
        <p><a href="http://www.thisweekendornext.com" target="_blank">This Weekend or Next</a> is a Sinatra application to clarify what constitutes 'this weekend' versus 'next weekend.' It calculates the date and time based on your selected timezone via ActiveSupport.</p>
        <p class="technologies">Technologies: <span class="tags">Ruby, Sinatra, CSS, Github</span></p>

        <h2>Get to 24</h2>
        <p><a href="http://www.getto24.com" target="_blank">Get to 24</a> is a Sinatra application allowing the user to play the 24 Game, a math card game.</p>
        <p class="technologies">Technologies: <span class="tags">Ruby, Sinatra, Bootstrap, CSS, ERB, Heroku, Github</span></p>
      </div>

      <hr>

      <div id="contact">
        <h1>Contact</h1>
        <p>Get in touch with me through any of these channels:</p>
        <p>Twitter: <a href="https://www.twitter.com/randallocalypse" target="_blank">@randallocalypse</a></p>
        <p>Instagram: <a href="https://www.instagram.com/randallocalypse/">@randallocalypse</a></p>
        <br />
        <p>Github: <a href="https://www.github.com/randallreedjr" target="_blank">/randallreedjr</a></p>
        <p>Stack Overflow: <a href="http://stackoverflow.com/users/1951290/randallreedjr" target="_blank">/randallreedjr</a></p>
        <p>Medium: <a href="https://medium.com/@randallreedjr" target="_blank">/randallreedjr</a></p>
        <p>LinkedIn: <a href="http://www.linkedin.com/in/randallreedjr" target="_blank">/in/randallreedjr</a></p>
      </div>
    </main>
    <footer>
      {{> footer}}
    </footer>
  </body>
</html>
