<!DOCTYPE html>
  {{> layout/header}}
  <body>
    <aside id="side-dev">{{> layout/side-nav}}</aside>

    <header>
      <div class="quotation">
        <p>Code is never finished, only abandoned.</p>
      </div>
    </header>
    <main>
      <div>
        <h1>Full Stack Web Developer, Made in New York</h1>
      </div>
      <section id="about">
        <h2>About</h2>
        <p>Hi! I'm Randall Reed, Jr., a web developer living and working in Richmond, Virginia. I am actively looking for my next role, while occasionally taking on freelance work.</p>
        <h3>Technologies</h3>
        <p class="technologies">HTML, CSS, Ruby, Rails, Rspec, Rake, Javascript, React, Gulp, JSON, Elasticsearch, AWS S3, AWS Cloudfront, Git, Github, Heroku, Circle CI, Codeship CI, Wordpress, PHP</p>
        <h3>Languages</h3>
        <p>English (native fluency)</p>
        <p>French (intermediate proficiency)</p>
        <p>Spanish (elementary proficiency)</p>
      </section>
      {{> projects/freelance}}
      {{> projects/open-source}}
      {{> projects/personal}}
      {{> contact}}
    </main>
    <footer>
      {{> layout/footer}}
    </footer>
  </body>
</html>
